.card {
    background-color: lightpink;
    color: #333;
    height: 100%;
    padding: 0 15px;
}

.title{
    background-color: lightskyblue;
    padding: 5px;
    margin-bottom: 3px;
}

.originalTitle{
    margin-bottom: 15px;
}

.description{
    font-style: italic;
    text-align: justify;
    margin-top: 10px;
}

.infos{
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}